
 @import url(reset.css); 
 @import url(layout.css);
 @import url(colour.css);
@font-face {
    font-family: 'isocteurregular';
    src: url('isocteur-webfont.eot');
    src: url('isocteur-webfont.eot?#iefix') format('embedded-opentype'),
         url('isocteur-webfont.woff') format('woff'),
         url('isocteur-webfont.ttf') format('truetype'),
         url('isocteur-webfont.svg#isocteurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
